.PlayerCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 439px;
    height: 739px;
    margin-top: 50px;
    margin-left: 50px;
    transition: 0.25s;
    background: linear-gradient(45deg, rgba(30, 64, 175, 1) 0%, rgba(185, 28, 28, 1) 90%);
}

.PlayerCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    filter: brightness(110%)
}

/* TOP CONTAINER */
.PlayerCard .TopContainer {
    position: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 368px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(54.9deg, #1E40AF 0%, #B91C1C 100%);
    margin: 10px;
    overflow: hidden;
}

.PlayerCard .TopContainer .PlayerAvatar {
    position: relative;
    display: flex;
    scale: 120%;
    margin-top: 50px;
}

.PlayerCard .TopContainer .Flares {
    position: absolute;
    width: 481px;
    height: 326px;
}

.PlayerCard .TopContainer .Flares svg{
    position: relative;
}

/* OVR Score */
.PlayerCard .ovrScore {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 70px;
    bottom: 326px; 
    border: solid #EFF6FF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #1E40AF;
    z-index: 2;
}

.PlayerCard .ovrScore .Score {
    position: relative;
    top: 19px;


    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 100%;
    /* identical to box height, or 42px */

    text-align: center;

    /* tailwind/blue/50 */

    color: #EFF6FF;

    mix-blend-mode: normal;
    text-shadow: 0px 2.22204px 6.66611px rgba(0, 0, 0, 0.4);
}

.PlayerCard .ovrScore .Attribute {
    position: relative;

    top: -42px;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #FFFFFF99;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);

    mix-blend-mode: normal;
}

/* BOTTOM CONTAINER */
.PlayerCard .BottomContainer {
    position: relative;
    width: 95%;
    height: 330px;
    margin: auto;
    background: linear-gradient(54.9deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/* LEFT */
.PlayerCard .BottomContainer .PlayerInfoLeft {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.PlayerCard .BottomContainer .PlayerInfoLeft .Name {
    position: relative;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */

    letter-spacing: 0.04em;

    /* tailwind/blue/50 */

    color: #EFF6FF;

    mix-blend-mode: normal;
}

.PlayerCard .BottomContainer .PlayerInfoLeft .Clan {
    position: relative;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 467;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-variation-settings: 'slnt' -10;

    mix-blend-mode: normal;
}

/* RIGHT */
.PlayerCard .BottomContainer .PlayerInfoRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

.PlayerCard .BottomContainer .PlayerInfoRight .ClanImage img {
    display: block;
    width: 28px;
    height: 28px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 5;
}

.PlayerCard .BottomContainer .PlayerInfoRight .CountryImage img {
    display: absolute;
    width: 24px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* STATS */
.PlayerCard .BottomContainer .Stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23px;
    flex-direction: row;
    margin-top: 25px;
}

.PlayerCard .BottomContainer .Stats .ColoumnLeft {
    display: flex;
    flex-direction: column;

}

.PlayerCard .BottomContainer .Stats .Divider {
    margin-top: 30px;
    border-left: 2px solid #EFF6FF;
    height: 196px;
    
}

.PlayerCard .BottomContainer .Stats .ColoumnRight {
    display: flex;
    flex-direction: column;

}

.PlayerCard .BottomContainer .Stats .Stat {
    display: flex;
    flex-direction: row;
}

.PlayerCard .BottomContainer .Stats .Score {
    width: 60px;
    height: 10px;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */

    text-align: right;

    /* tailwind/blue/50 */

    color: #EFF6FF;
}

.PlayerCard .BottomContainer .Stats .Att {
    width: 77px;
    height: 0px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    /* identical to box height, or 40px */

    margin-top: 41px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    mix-blend-mode: normal;

    color: #FFFFFF99;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);

    mix-blend-mode: normal;
}