.PlayerCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 439px;
    height: 739px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 50px;
    transition: 0.25s;
    mix-blend-mode: normal;
    background: rgb(30, 64, 175);
    background: linear-gradient(45deg, rgba(30, 64, 175, 1) 0%, rgba(185, 28, 28, 1) 90%);
}

.PlayerCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* TOP CONTAINER */
.PlayerCard .TopContainer {
    position: flex;
    width: 439px;
    height: 368px;
    left: 159px;
    top: 82px;
}

.PlayerCard .TopContainer .PlayerAvatar img {
    position: absolute;
    
    left: 17.72%;
    right: 17.46%;
    top: 10.96%;
    bottom: 32.45%;
}
/* DIVIDER */
.PlayerCard .CardDivider {
    /* visibility: hidden; */
    background-color: black;
    width: 439px;
    height: 30px;
}

/* OVR Score */
.PlayerCard .ovrScore {
    position: absolute;
    width: 97px;
    height: 83.74px;
    left: 329px;
    top: 411px;
}

.PlayerCard .ovrScore .Score {
    position: absolute;
    left: 46.32%;
    right: 46.4%;
    top: 47.08%;
    bottom: 48.27%;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 100%;
    /* identical to box height, or 42px */

    text-align: center;

    /* tailwind/blue/50 */

    color: #EFF6FF;

    mix-blend-mode: normal;
    text-shadow: 0px 2.22204px 6.66611px rgba(0, 0, 0, 0.4);
}

.PlayerCard .ovrScore .Attribute {
    position: absolute;
    left: 44.07%;
    right: 44.19%;
    top: 51.67%;
    bottom: 46.98%;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    mix-blend-mode: normal;
    text-shadow: 0px 1.08079px 3.24236px rgba(0, 0, 0, 0.4);
}

/* BOTTOM CONTAINER */
.PlayerCard .BottomContainer {
    position: flex;
    width: 439px;
    height: 361px;
    left: 159px;
    top: 460px;
}

/* LEFT */
.PlayerCard .BottomContainer .PlayerInfoLeft {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.PlayerCard .BottomContainer .PlayerInfoLeft .Name {
    position: absolute;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */

    letter-spacing: 0.04em;

    /* tailwind/blue/50 */

    color: #EFF6FF;

    mix-blend-mode: normal;
}

.PlayerCard .BottomContainer .PlayerInfoLeft .Clan {
    position: absolute;
    left: 24.07%;
    right: 66.67%;
    top: 55.26%;
    bottom: 43.19%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 467;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-variation-settings: 'slnt' -10;

    mix-blend-mode: normal;
}

/* RIGHT */
.PlayerCard .BottomContainer .PlayerInfoRight {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 64px;
    height: 28px;
    right: 184px;
    top: 473px;
}

.PlayerCard .PlayerInfoRight .ClanImage img {
    display: absolute;
    width: 28px;
    height: 28px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.PlayerCard .PlayerInfoRight .CountryImage img {
    display: absolute;
    width: 24px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}